*{
  box-sizing: border-box;
}

.col-3, .col-4, .col-6, .col-12{
  float: left;
  padding-right: 1.04166666%;
  padding-left: 1.041666666%;
}

.col-3, .col-4, .col-6, .col-12{
  width: 100%;
}


.row{
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row::before,
.row::after{
  display: table;
  content:'';
}

.row::after{
  clear: both;
}

@media only screen and (min-width: 640px){
  .col-3{
    width: 25%;
  }
  .col-4{
    width: 33.33%;
  }
  .col-6{
    width: 50%;
  }
  .col-12{
    width: 100%;
  }
}
