
*{
  box-sizing: border-box;
}

#map{
  height: 700px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}


.container{
  position: relative;
  bottom: 80px;
  left: 40px;
  font-size: 15px;
}

#submit-zip, #zip-search{
  height: 40px;
  font-size: 15px;
}
